@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.my-container {
  width: min(1120px, 100%);
  margin: 0 auto;
  padding: 0 20px;
}
